.form {
    padding: 24px;

    display: flex;
    flex-direction: column;

    width: 360px;
    height: auto;
}

.form-label {
    display: flex;
    flex-direction: column;

    text-align: left;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.04em;
    color: #2e2f42;
}

.form-input {
    margin-top: 8px;
    margin-bottom: 16px;

    border: 1px solid #808080;
    border-radius: 4px;
    height: 40px;

    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.04em;
    color: #2e2f42;

    padding: 8px 16px;

    outline: transparent;
}

.form-input:hover {
    border: 1px solid #000;
}

.form-input:focus {
    border: 1px solid #4e75ff;
}

.form-fieldset {
    display: flex;
    flex-direction: row;
    align-items: center;

    margin-bottom: 24px;

    border: 1px solid #808080;
    border-radius: 4px;
}

.form-fieldset:hover, .form-fieldset:focus-within{
  border: 1px solid #000000;
}

.form-legend {
    margin-bottom: 14px;

    text-align: left;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.04em;
    color: #2e2f42;
}

.form-radio-group {
    display: flex;
    flex-direction: row;
    gap: 48px;

    margin: auto;
}

.form-label-radio {
    display: flex;
    align-items: center;

    margin-bottom: 8px;

    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #2e2f42;
}

.form-input-radio {
    margin-right: 8px;

    width: 32px;
    height: 32px;
}

.btn {
    border: none;
    cursor: pointer;

    display: block;
    max-width:360px;
    height: 40px;
    border-radius: 8px;
    padding: 8px 99px;

    background: #4e75ff;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.04em;
    color: #fff;

    transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn:hover {
    background: #6c8cff;
}

.iziToast-close {
    display: none !important;
}