.date-picker {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 8px;

    margin-bottom: 32px;
}

#datetime-picker{
    max-width: 272px;
    height: auto;
    border: 1px solid #808080;
    border-radius: 4px;

    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.04em;
    color: #2e2f42;

    padding: 8px 16px;
    outline: transparent;
}

#datetime-picker:hover {
    border: 1px solid #000;;
}

#datetime-picker:focus {
    border: 1px solid #4e75ff;
}

#datetime-picker:disabled {
    background: #fafafa;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.04em;
    color: #808080;

    border: 1px solid #808080;
}

.btn-start{
    border: none;
    cursor: pointer;

    display: block;
    max-width:75px;
    height: 40px;
    border-radius: 8px;
    padding: 8px 16px;

    background: #4e75ff;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.04em;
    color: #fff;

    transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-start:hover {
    background: #6c8cff;
}

.btn-start:disabled {
    background: #cfcfcf;
    cursor: not-allowed;

    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.04em;
    color: #989898;
}

.timer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 24px;
}
.field {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.value {
    font-weight: 400;
    font-size: 40px;
    line-height: 120%;
    letter-spacing: 0.04em;
    color: #2e2f42;
}

.label {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #2e2f42;
}

